In [1]:
import pandas as pd
movie_data = pd.read_csv('Moviesdata.csv',encoding = 'ISO-8859-1')

In [2]:
movie_data.head(10)

,IMDBid,IMDBlink,Title,Genre,IMDB_Rating,Poster
0,NaN,NaN,The Shawshank Redemption,Drama,9.3,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,NaN,NaN,The Godfather,"Crime, Drama",9.2,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,NaN,NaN,The Dark Knight,"Action, Crime, Drama",9.0,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,NaN,NaN,The Godfather: Part II,"Crime, Drama",9.0,https://m.media-amazon.com/images/M/MV5BMWMwMG...
4,NaN,NaN,12 Angry Men,"Crime, Drama",9.0,https://m.media-amazon.com/images/M/MV5BMWU4N2...
5,NaN,NaN,The Lord of the Rings: The Return of the King,"Action, Adventure, Drama",8.9,https://m.media-amazon.com/images/M/MV5BNzA5ZD...
6,NaN,NaN,Pulp Fiction,"Crime, Drama",8.9,https://m.media-amazon.com/images/M/MV5BNGNhMD...
7,NaN,NaN,Schindler's List,"Biography, Drama, History",8.9,https://m.media-amazon.com/images/M/MV5BNDE4OT...
8,NaN,NaN,Inception,"Action, Adventure, Sci-Fi",8.8,https://m.media-amazon.com/images/M/MV5BMjAxMz...
9,NaN,NaN,Fight Club,Drama,8.8,https://m.media-amazon.com/images/M/MV5BMmEzNT...

In [3]:
movie_data['Genre'].str.split('|', expand = True)

                            0
0                       Drama
1                Crime, Drama
2        Action, Crime, Drama
3                Crime, Drama
4                Crime, Drama
..                        ...
995    Comedy, Drama, Romance
996            Drama, Western
997       Drama, Romance, War
998                Drama, War
999  Crime, Mystery, Thriller

[1000 rows x 1 columns]